Options +ExecCGI

AddHandler cgi-script .cgi

RewriteEngine on
RewriteBase /let

RewriteRule ^[^/\?].*\.html - [L]
RewriteRule ^[^/\?].*\.xhtml - [L]
RewriteRule ^[^/\?].*\.js$ - [L]
RewriteRule ^[^/\?].*\.css - [L]
RewriteRule ^[^/\?].*\.png - [L]
RewriteRule ^[^/\?].*\.cgi.* - [L]
RewriteRule ^([^/\?].*)/(.*) $1.cgi?$2 [L]
RewriteRule ^([^/\?].*) $1.cgi [L]
