div.debug-or-release
{
   margin-bottom: 1.5em;
}

div.debug-or-release > a
{
   font-weight: bold;
   padding: 0.3em;
   margin-right: 0.5em;
}

div.debug-or-release > a:visited
{
  color: darkblue;
}

div.debug-or-release > a:visited:hover
{
  background-color: #e0e0ff;
  outline-color: blue;
}

div.debug-or-release > a.selected,
div.debug-or-release > a.selected:hover,
div.debug-or-release > a.selected:active,
div.debug-or-release > a.selected:link,
div.debug-or-release > a.selected:visited
{
   color: white;
   background-color: gray;
   text-decoration: none;
   outline: none;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
}

div.entry
{
   border: solid 0.2em #ccddff;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   margin-bottom: 2em;
}

div.entry h2
{
   color: white;
   font-size: 120%;
   margin: 0;
   padding: 0.3em;
   border: none;
   background-color: #99aacc;
   -moz-border-radius-topleft: 4px;
   -moz-border-radius-topright: 4px;
   -webkit-border-top-left-radius: 4px;
   -webkit-border-top-right-radius: 4px;
}

div.entry h2 a
{
   color: white;
   font-weight: bold;
}

div.entry input.smarklet,
div.entry a.bookmarklet
{
   color: #003333;
   cursor: pointer;
   width: 28em;
   height: 1.4em;
   font-size: 100%;
   text-align: center;
   text-decoration: none;
   padding: 0.2em 0.8em;
   margin: 0 0.5em 0 1em;
   font-weight: bold;
   background-color: #ccffdd ! important;
   border: solid 0.2em #99eebb;
   outline: none;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
}

div.entry input.smarklet:hover,
div.entry a.bookmarklet:hover
{
   background-color: #ffccdd ! important;
   border-color: #ee99bb;
}

span.detail
{
   font-size: 90%;
   display: block;
}

iframe.documentation
{
   border: none;
   width: 100%;
}

a.help
{
   border: solid 0.2em #ccddff;
   padding: 0 0.5em;
   color: #99aacc;
   font-size: 70%;
   font-weight: bold;
   text-decoration: none;
   outline: none;
   background-color: transparent;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
}
a.help:hover
{
   background-color: #ccddff;
}

div.instruction
{
   background-color: #ccddff;
   border: solid 6px #ccddff;
   position: fixed;
   visibility: hidden;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
}

a.instruction-close
{
   color: #99aacc;
   font-weight: bold;
   text-decoration: none;
   outline: none;
   background-color: transparent ! important;
}

span.instruction-caption
{
   margin-left: 1em;
   color: #99aacc;
   font-weight: bold;
}

img#instruction-menu
{
   position: absolute;
   background-color: transparent;
   z-index: 5;
   left: 64px;
   top: 144px;
}

img#instruction-dialog,
img#instruction-keyword
{
   position: absolute;
   background-color: transparent;
   z-index: 10;
   left: 184px;
   top: 64px;
}
